﻿@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Vue</h1>
        <p>Using vue through CDN</p>
        <div id="app">
            <form v-on:submit="checkForm" method="post">
                <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul class="list-group">
                        <li v-for="error in errors" class="list-group-item border-0">{{ error }}</li>
                    </ul>
                </p>
                <p>
                    <div class="row justify-content-md-center">
                        <div class="form-group">
                            <label for="name" class="control-label">Name</label>
                            <input type="text" name="name" id="name" v-model="person.name" class="form-control" required/>
                        </div>
                    </div>
                </p>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
            <ul class="list-group">
                <li v-for="person in people" class="list-group-item border-0">
                    {{ person.name}} created on {{formatDate(person.created)}} <button v-on:click="deletePerson(person.id)" class="btn btn-danger ml-2">Delete</button>
                </li>
            </ul>
        </div>       
    </div>
